In [174]:
inpf = open('6.txt')
inp = []
for c, i in enumerate(inpf.readlines()):
    l = i.strip().split(',')
    p = {}
    
    x = int(l[0])
    y = int(l[1])
    p['val'] = c+1
    p['x'] = x
    p['y'] = y
    inp = inp + [p]
inp

[{'val': 1, 'x': 252, 'y': 125},
 {'val': 2, 'x': 128, 'y': 333},
 {'val': 3, 'x': 89, 'y': 324},
 {'val': 4, 'x': 141, 'y': 171},
 {'val': 5, 'x': 266, 'y': 338},
 {'val': 6, 'x': 117, 'y': 175},
 {'val': 7, 'x': 160, 'y': 236},
 {'val': 8, 'x': 234, 'y': 202},
 {'val': 9, 'x': 165, 'y': 192},
 {'val': 10, 'x': 204, 'y': 232},
 {'val': 11, 'x': 83, 'y': 192},
 {'val': 12, 'x': 229, 'y': 178},
 {'val': 13, 'x': 333, 'y': 57},
 {'val': 14, 'x': 70, 'y': 243},
 {'val': 15, 'x': 108, 'y': 350},
 {'val': 16, 'x': 161, 'y': 63},
 {'val': 17, 'x': 213, 'y': 277},
 {'val': 18, 'x': 87, 'y': 299},
 {'val': 19, 'x': 163, 'y': 68},
 {'val': 20, 'x': 135, 'y': 312},
 {'val': 21, 'x': 290, 'y': 87},
 {'val': 22, 'x': 73, 'y': 246},
 {'val': 23, 'x': 283, 'y': 146},
 {'val': 24, 'x': 80, 'y': 357},
 {'val': 25, 'x': 66, 'y': 312},
 {'val': 26, 'x': 159, 'y': 214},
 {'val': 27, 'x': 221, 'y': 158},
 {'val': 28, 'x': 175, 'y': 54},
 {'val': 29, 'x': 298, 'y': 342},
 {'val': 30, 'x': 348, 'y': 162},
 {'val': 31, 'x': 249, 'y': 90},
 {'val': 32, 'x': 189, 'y': 322},
 {'val': 33, 'x': 311, 'y': 181},
 {'val': 34, 'x': 194, 'y': 244},
 {'val': 35, 'x': 53, 'y': 295},
 {'val': 36, 'x': 80, 'y': 301},
 {'val': 37, 'x': 262, 'y': 332},
 {'val': 38, 'x': 268, 'y': 180},
 {'val': 39, 'x': 139, 'y': 287},
 {'val': 40, 'x': 115, 'y': 53},
 {'val': 41, 'x': 163, 'y': 146},
 {'val': 42, 'x': 220, 'y': 268},
 {'val': 43, 'x': 79, 'y': 85},
 {'val': 44, 'x': 95, 'y': 112},
 {'val': 45, 'x': 349, 'y': 296},
 {'val': 46, 'x': 179, 'y': 274},
 {'val': 47, 'x': 113, 'y': 132},
 {'val': 48, 'x': 158, 'y': 264},
 {'val': 49, 'x': 316, 'y': 175},
 {'val': 50, 'x': 268, 'y': 215}]

In [175]:
max_x = 0
max_y = 0
for i in inp:
    if i['x'] > max_x:
        max_x = i['x']
    if i['y'] > max_y:
        max_y = i['y']

print(max_x)
print(max_y)
max_x += 1
max_y += 1

349
357

In [176]:
import numpy as np
arr = np.zeros((max_y, max_x))


def manhattan_distance(a, b):
    return np.abs(a[0]-b[0]) + np.abs(a[1]-b[1])
    
for x in range(0,max_x):
    for y in range(0,max_y):
        min_dist = max_x + max_y
        cur_point = None
        
        for p in inp:
            
            dist = manhattan_distance((x,y), (p['x'], p['y']))
            if dist < min_dist:
                cur_point = p['val']
                min_dist = dist
            elif min_dist == dist and cur_point != p['val']:
                cur_point = 0
                
        arr[y,x] = cur_point
            

#for p in inp:
#    arr[p['y'], p['x']] = p['val'] + 100

tot = np.append(arr[1,:], arr[max_y - 1,:])
tot = np.append(tot, arr[:,1])
tot = np.append(tot, arr[:, max_x - 1])
disq = np.unique(tot)


biggest = 0
biggest_val = None
for i in inp:
    val = i['val']
    if val in disq:
        continue
    cnt = (arr == val).sum()
    if cnt > biggest:
        biggest = cnt
        biggest_val = val
        
print(cnt)

3604

In [177]:
for p in inp:
    print(p)

{'val': 1, 'x': 252, 'y': 125}
{'val': 2, 'x': 128, 'y': 333}
{'val': 3, 'x': 89, 'y': 324}
{'val': 4, 'x': 141, 'y': 171}
{'val': 5, 'x': 266, 'y': 338}
{'val': 6, 'x': 117, 'y': 175}
{'val': 7, 'x': 160, 'y': 236}
{'val': 8, 'x': 234, 'y': 202}
{'val': 9, 'x': 165, 'y': 192}
{'val': 10, 'x': 204, 'y': 232}
{'val': 11, 'x': 83, 'y': 192}
{'val': 12, 'x': 229, 'y': 178}
{'val': 13, 'x': 333, 'y': 57}
{'val': 14, 'x': 70, 'y': 243}
{'val': 15, 'x': 108, 'y': 350}
{'val': 16, 'x': 161, 'y': 63}
{'val': 17, 'x': 213, 'y': 277}
{'val': 18, 'x': 87, 'y': 299}
{'val': 19, 'x': 163, 'y': 68}
{'val': 20, 'x': 135, 'y': 312}
{'val': 21, 'x': 290, 'y': 87}
{'val': 22, 'x': 73, 'y': 246}
{'val': 23, 'x': 283, 'y': 146}
{'val': 24, 'x': 80, 'y': 357}
{'val': 25, 'x': 66, 'y': 312}
{'val': 26, 'x': 159, 'y': 214}
{'val': 27, 'x': 221, 'y': 158}
{'val': 28, 'x': 175, 'y': 54}
{'val': 29, 'x': 298, 'y': 342}
{'val': 30, 'x': 348, 'y': 162}
{'val': 31, 'x': 249, 'y': 90}
{'val': 32, 'x': 189, 'y': 322}
{'val': 33, 'x': 311, 'y': 181}
{'val': 34, 'x': 194, 'y': 244}
{'val': 35, 'x': 53, 'y': 295}
{'val': 36, 'x': 80, 'y': 301}
{'val': 37, 'x': 262, 'y': 332}
{'val': 38, 'x': 268, 'y': 180}
{'val': 39, 'x': 139, 'y': 287}
{'val': 40, 'x': 115, 'y': 53}
{'val': 41, 'x': 163, 'y': 146}
{'val': 42, 'x': 220, 'y': 268}
{'val': 43, 'x': 79, 'y': 85}
{'val': 44, 'x': 95, 'y': 112}
{'val': 45, 'x': 349, 'y': 296}
{'val': 46, 'x': 179, 'y': 274}
{'val': 47, 'x': 113, 'y': 132}
{'val': 48, 'x': 158, 'y': 264}
{'val': 49, 'x': 316, 'y': 175}
{'val': 50, 'x': 268, 'y': 215}

In [178]:
arr

array([[43., 43., 43., ..., 13., 13., 13.],
       [43., 43., 43., ..., 13., 13., 13.],
       [43., 43., 43., ..., 13., 13., 13.],
       ...,
       [24., 24., 24., ..., 45., 45., 45.],
       [24., 24., 24., ..., 45., 45., 45.],
       [24., 24., 24., ..., 45., 45., 45.]])

In [179]:
# Not theoretically correct but worked by chance. Ok then.
# (the area can be outside min/max)

arr = np.zeros((max_y, max_x))

for x in range(0,max_x):
    for y in range(0,max_y):
        dist = 0
        
        for p in inp:
            dist += manhattan_distance((x,y), (p['x'], p['y']))
            
        if dist < 10000:
            arr[y,x] = dist

In [180]:
arr.shape
(arr > 0).sum()

46563